* {
  margin: 0;
  padding: 0;
}
#div-pai {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  background-color: mediumvioletred;
  height: 50px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}
h2 {
  padding-right: 1110px;
}
main {
  display: flex;
}
nav {
  display: grid;
  grid-template-rows: 0.06fr 0.06fr 0.06fr; /*fr é uma unidade fracional*/
  grid-template-columns: 0.4fr 1fr 0.3fr;
  justify-items: center;
  background-color: #f2d0e0;
  width: 250px;
  padding-top: 10px;
}
#bolo {
  display: grid;
  grid-template-rows: 0.05fr 0.05fr;
  grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr;
  justify-items: center;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
  text-align: center;
  font-size: 13px;
}
h3 {
  justify-self: start; 
}
.titulo {
  padding-top: 10px;
}
.texto {
  padding-top: 10px;
}
.card {
  margin: 10px;
  box-shadow: 1px 1px 5px 2px darkgray;
}
div img {
  width: 227px;
  height: 210px;
}
.icone-pequeno {
  width: 20px;
  height: 20px;
}
footer {
  background-color: mediumvioletred;
  height: 40px;
  text-align: center;
  padding-top: 20px;
}
